In [1]:
import pandas as pd
import os
import glob
import ants
from helpers import *
import gc

In [2]:
adni_sample_root = '/media/leelabsg-storage1/DATA/ADNI/adni_t1s_baseline/sub-037S6222X20180530'
adni_sample_brain = adni_sample_root + '/brain.nii.gz'
adni_sample_mni = adni_sample_root + '/brain_to_MNI_nonlin.nii.gz'

ants_adni_brain = ants.image_read(adni_sample_brain)
ants_adni_mni = ants.image_read(adni_sample_mni)

In [3]:
explore_3D_array(ants_adni_brain)

interactive(children=(IntSlider(value=127, description='SLICE', max=255), Output()), _dom_classes=('widget-int…

In [4]:
explore_3D_array(ants_adni_mni)

interactive(children=(IntSlider(value=45, description='SLICE', max=90), Output()), _dom_classes=('widget-inter…

In [ ]:
for i in range(len(data)):
    subject = data[i].split('/')[-1].split('_')[0]
    subjects.append(int(subject))

In [ ]:
len(subjects)

In [ ]:
#Download the list of IDs
ii=np.load('/media/leelabsg-storage1/DATA/UKBB/brain_age/ID_128_full.npy',allow_pickle=True)
a=ii.tolist()
ii_pd=pd.DataFrame(a)
cap=ii_pd.rename(columns={0:'id', 1:'age'})

In [ ]:
# Disease metadata
disease = pd.read_csv('/media/leelabsg-storage1/DATA/UKBB/brain_age/PEDMASTER_ALL_20180514.txt', sep='\t')
disease

In [ ]:
mapping = pd.read_csv('/media/leelabsg-storage1/DATA/UKBB/brain_age/mapping.csv')
mapping_mri = mapping[mapping['Shawn'].isin(cap['id'].copy())]  #37792

In [ ]:
print(disease.shape)
print(cap.shape)
print(mapping_mri.shape)

In [ ]:
mapping_mri.columns = ['FID', 'Shawn'] 
mri_disease = pd.merge(disease, mapping_mri, on='FID') #37724
print(mri_disease.shape)

In [ ]:
mri_disease

In [ ]:
disease_mri = set(mri_disease['FID'].tolist())
len(disease_mri)

In [ ]:
diff = disease_mri - set(subjects)
len(diff)

In [ ]:
len(diff)

In [ ]:
type(mri_disease['FID'].tolist()[0])

In [ ]:
type(subjects[0])

# UKBB icd10 Code

In [6]:
icd101 = pd.read_csv('/media/leelabsg-storage1/DATA/icd/icd10_41202.csv')
icd102 = pd.read_csv('/media/leelabsg-storage1/DATA/icd/icd10_41270.csv')
icd91 = pd.read_csv('/media/leelabsg-storage1/DATA/icd/icd9_41203_with_icd10.csv')
icd92 = pd.read_csv('/media/leelabsg-storage1/DATA/icd/icd9_41271_with_icd10.csv')
icd101 = icd101[['eid', 'icd10', 'date']]
icd102 = icd102[['eid', 'icd10', 'date']]
icd91 = icd91[['eid', 'icd10', 'date']]
icd92 = icd92[['eid', 'icd10', 'date']]
icds = pd.concat([icd101, icd102, icd91, icd92]).drop_duplicates().reset_index(drop = True)
icds = icds.drop('date', axis=1).drop_duplicates().reset_index(drop = True)
#icds.set_index('eid').to_csv('all_icds.csv')
icds.to_csv('/media/leelabsg-storage1/yein/research/data/csv/ukbb_icd.csv', index=False)
icds

             eid    icd10
0        1000019     H330
1        1000019     I209
2        1000019      I48
3        1000019      J22
4        1000019     J440
...          ...      ...
7068385  6002927  S80919A
7068386  6002927  S80929A
7068387  6002927  S90919A
7068388  6008299     E071
7068389  6017163     Q740

[7068390 rows x 2 columns]

In [7]:
ukb_brain_img_df = pd.read_csv('/media/leelabsg-storage1/yein/research/data/csv/ukbb_35012.csv')
ukb_brain_img_df

            id  Age  disease
0      1000502   72        0
1      1000638   71        1
2      1000674   63        1
3      1000752   62        0
4      1000861   73        0
...        ...  ...      ...
35007  6024590   56        1
35008  6024731   64        1
35009  6024805   65        0
35010  6024956   67        0
35011  6025381   61        1

[35012 rows x 3 columns]

In [8]:
ukb_brain_img_df['disease'].value_counts()

disease
0    25656
1     9356
Name: count, dtype: int64

In [9]:
ukb_brain_mri_icds = icds.loc[icds.eid.isin(ukb_brain_img_df['id'][ukb_brain_img_df['disease']==1])].reset_index(drop=True)
ukb_brain_mri_icds

            eid  icd10
0       1000638   C445
1       1000638   D035
2       1000638   G473
3       1000638   H251
4       1000638   I480
...         ...    ...
140316  5551711   N805
140317  5986972  M0009
140318  5986972  M0019
140319  5986972  M0029
140320  5986972  M0089

[140321 rows x 2 columns]

In [10]:
ukb_brain_mri_icds['icd10'].value_counts()[:25] # 빈도 상위 25개 질병 icd10 코드

icd10
I10     3118
Z864    2231
K573    1634
E780    1605
K449    1306
Z871    1121
K635    1087
Z922    1054
K219    1039
J459     988
E119     905
D259     805
R074     797
Z867     768
K297     760
I251     741
Z880     738
E669     699
Z921     698
Z824     691
Z858     679
R69      679
N40      676
Z538     674
H269     662
Name: count, dtype: int64

### I10: 고혈압(hypertension)
### Z86.4: 과거의 정신 및 행동 장애의 병력 (Personal history of psychological and behavioral disorders)
### E780: Pure hypercholesterolemia (순수 고콜레스테롤혈증)

In [15]:
# 질병 코드 목록
icd10_codes = ['I10', 'Z864', 'E780']

# 각 질병 코드에 대해 필터링하고 CSV로 저장
for code in icd10_codes:
    # 해당 질병 코드에 해당하는 eid 필터링
    filtered_eids = ukb_brain_mri_icds[ukb_brain_mri_icds['icd10'] == code]['eid'].unique()
    
    # 필터링된 eid를 사용하여 ukb_brain_img_df에서 일치하는 행 필터링
    filtered_df = ukb_brain_img_df[ukb_brain_img_df['id'].isin(filtered_eids)]
    
    # 필요한 컬럼 선택
    output_df = filtered_df[['id', 'Age']]
    
    # CSV 파일로 저장
    output_filename = f'/media/leelabsg-storage1/yein/research/data/csv/ukbb_{code}.csv'
    output_df.to_csv(output_filename, index=False)

KeyError: "['icd10'] not in index"

# Z86.4: 과거의 정신 및 행동 장애의 병력 (Personal history of psychological and behavioral disorders)

# E780: Pure hypercholesterolemia (순수 고콜레스테롤혈증)

In [130]:
# id별로 ICD-10 코드를 통합하는 새로운 데이터프레임 생성
ukb_icds_grouped = ukb_brain_mri_icds.groupby('eid')['icd10'].apply(lambda x: ','.join(sorted(set(x)))).reset_index()

ukb_icds_grouped
# ukb_icds_grouped.to_csv('/media/leelabsg-storage1/yein/research/data/csv/ukbb_disease_icd10.csv', index=False)

          eid                                              icd10
0     1000638  C445,D035,G473,H028,H184,H251,H522,H579,I10,I3...
1     1000674   C73,D037,D225,E041,E890,H029,K802,K851,Z858,Z908
2     1001080  L989,M8199,M858,S4220,S608,T841,W194,Z512,Z858...
3     1001582         C445,D233,H029,H269,I10,K225,R13,Z420,Z860
4     1002040          D172,I849,I951,K20,K30,K317,K625,R05,Y492
...       ...                                                ...
9239  6024301                                          D250,N840
9240  6024491                                    M7967,N390,Z512
9241  6024590           C443,D171,E049,G576,M201,M6597,M775,Z512
9242  6024731                                      B07,I839,M750
9243  6025381    C441,D075,E02,I848,K317,N40,R398,R798,Z532,Z858

[9244 rows x 2 columns]

In [124]:
# 신경퇴행성 장애와 관련된 ICD-10 코드 목록
'''
neurodegenerative_icd10 = {
    "G10": "헌팅턴병",
    "G120": "영아형 척수성 근위축증, 유형 I [Werdnig-Hoffman]",
    "G121": "기타 유전성 척수성 근위축증",
    "G122": "운동 뉴런 질환",
    "G128": "기타 척수성 근위축증 및 관련 증후군",
    "G129": "명시되지 않은 척수성 근위축증",
    "G20": "파킨슨병",
    "G210": "악성 신경이완제 증후군",
    "G211": "기타 약물 유발 이차성 파킨슨증",
    "G212": "기타 외부 요인에 의한 이차성 파킨슨증",
    "G213": "뇌염 후 파킨슨증",
    "G214": "혈관성 파킨슨증",
    "G218": "기타 이차성 파킨슨증",
    "G219": "명시되지 않은 이차성 파킨슨증",
    "G230": "할러보르덴-스파츠병",
    "G231": "진행성 핵상마비 [Steele-Richardson-Olszewski]",
    "G232": "선조체흑질 변성",
    "G233": "샤이-드래거 증후군",
    "G238": "기타 명시된 기저핵의 퇴행성 질환",
    "G239": "명시되지 않은 기저핵의 퇴행성 질환",
    "G300": "초기 발병 알츠하이머병",
    "G301": "후기 발병 알츠하이머병",
    "G308": "기타 알츠하이머병",
    "G309": "명시되지 않은 알츠하이머병",
    "G310": "픽병",
    "G3101": "전두측두엽 치매",
    "G311": "명시되지 않은 노인성 뇌퇴행",
    "G312": "알코올로 인한 신경계 퇴행",
    "G318": "기타 명시된 신경계 퇴행성 질환",
    "G319": "명시되지 않은 신경계 퇴행성 질환",
    "G320": "아급성 괴사성 뇌병증",
    "G328": "기타 명시된 신경계의 퇴행성 장애",
    "G329": "명시되지 않은 신경계 퇴행성 장애",
    "G35": "다발성 경화증",
    "G360": "시신경척수염 [Devic]",
    "G361": "급성 및 아급성 출혈성 백질뇌염 [Hurst]",
    "G368": "기타 명시된 급성 파종성 탈수초증",
    "G370": "확산성 파종 경화증",
    "G371": "교련의 중심 탈수초증",
    "G372": "중심 다리뇌 탈수초증",
    "G373": "중추신경계의 탈수초질환에서의 급성 횡단성 척수염",
    "G374": "아급성 괴사성 척수병증",
    "G375": "동심성 경화증 [Balo]",
    "G378": "기타 명시된 중추신경계의 탈수초질환",
    "G379": "명시되지 않은 중추신경계의 탈수초질환",
    "G903": "자율신경 부전이 동반된 다발성 시스템 퇴행 (MSD)",
    "G904": "다발성 시스템 위축에 의한 자율신경 부전",
    "G931": "기타 명시되지 않은 저산소 뇌 손상",
    "G934": "명시되지 않은 뇌병증",
    "G935": "뇌의 압박",
    "G936": "뇌부종",
    "G938": "기타 명시된 뇌질환",
    "G939": "명시되지 않은 뇌질환"
}
'''

neurodegenerative_icd10 = {
    "G10": "Huntington's disease",
    "G120": "Infantile spinal muscular atrophy, type I [Werdnig-Hoffman]",
    "G121": "Other inherited spinal muscular atrophy",
    "G122": "Motor neuron disease",
    "G128": "Other spinal muscular atrophies and related syndromes",
    "G129": "Spinal muscular atrophy, unspecified",
    "G20": "Parkinson's disease",
    "G210": "Malignant neuroleptic syndrome",
    "G211": "Other drug-induced secondary parkinsonism",
    "G212": "Secondary parkinsonism due to other external agents",
    "G213": "Postencephalitic parkinsonism",
    "G214": "Vascular parkinsonism",
    "G218": "Other secondary parkinsonism",
    "G219": "Secondary parkinsonism, unspecified",
    "G230": "Hallervorden-Spatz disease",
    "G231": "Progressive supranuclear ophthalmoplegia [Steele-Richardson-Olszewski]",
    "G232": "Striatonigral degeneration",
    "G233": "Shy-Drager syndrome",
    "G238": "Other specified degenerative diseases of basal ganglia",
    "G239": "Degenerative disease of basal ganglia, unspecified",
    "G300": "Alzheimer's disease with early onset",
    "G301": "Alzheimer's disease with late onset",
    "G308": "Other Alzheimer's disease",
    "G309": "Alzheimer's disease, unspecified",
    "G310": "Pick's disease",
    "G3101": "Frontotemporal dementia",
    "G311": "Senile degeneration of brain, not elsewhere classified",
    "G312": "Degeneration of nervous system due to alcohol",
    "G318": "Other specified degenerative diseases of nervous system",
    "G319": "Degenerative disease of nervous system, unspecified",
    "G320": "Subacute necrotizing encephalopathy",
    "G328": "Other specified degenerative disorders of nervous system in diseases classified elsewhere",
    "G329": "Degenerative disorder of nervous system, unspecified",
    "G35": "Multiple sclerosis",
    "G360": "Neuromyelitis optica [Devic]",
    "G361": "Acute and subacute hemorrhagic leukoencephalitis [Hurst]",
    "G368": "Other specified acute disseminated demyelination",
    "G370": "Diff disseminated sclerosis",
    "G371": "Central demyelination of corpus callosum",
    "G372": "Central pontine myelinolysis",
    "G373": "Acute transverse myelitis in demyelinating disease of central nervous system",
    "G374": "Subacute necrotizing myelopathy",
    "G375": "Concentric sclerosis [Balo]",
    "G378": "Other specified demyelinating diseases of central nervous system",
    "G379": "Demyelinating disease of central nervous system, unspecified",
    "G903": "Multi-system degeneration (MSD) with autonomic failure",
    "G904": "Autonomic failure secondary to multiple system atrophy",
    "G931": "Anoxic brain damage, not elsewhere classified",
    "G934": "Encephalopathy, unspecified",
    "G935": "Compression of brain",
    "G93": "Cerebral edema",
    "G938": "Other specified disorders of brain",
    "G939": "Disorder of brain, unspecified"
}
neurodegenerative_codes = list(neurodegenerative_icd10.keys())

ukb_brain_mri_neurodegenerative = ukb_brain_mri_icds[ukb_brain_mri_icds['icd10'].isin(neurodegenerative_codes)].drop_duplicates().reset_index(drop = True)
ukb_brain_mri_neurodegenerative

         eid icd10
0    1016627   G35
1    1021892   G35
2    1264453   G35
3    1372002   G35
4    1385948  G379
..       ...   ...
196  5857845  G938
197  5869746   G35
198  5965153  G318
199  6016880   G20
200  6017122  G938

[201 rows x 2 columns]

In [125]:
ukb_brain_mri_neurodegenerative['icd10'].value_counts()

icd10
G35     52
G20     41
G319    25
G309    13
G938    12
G939     8
G318     7
G934     5
G379     5
G122     4
G308     4
G931     4
G328     3
G373     2
G935     2
G312     2
G300     2
G214     2
G301     1
G10      1
G378     1
G219     1
G211     1
G360     1
G231     1
G310     1
Name: count, dtype: int64

In [126]:
ukb_brain_mri_neurodegenerative['eid'].value_counts()

eid
3054827    4
1879213    3
5139898    3
4747667    3
2460299    3
          ..
1770175    1
1788089    1
1862274    1
1904158    1
6017122    1
Name: count, Length: 168, dtype: int64

In [127]:
# id별로 ICD-10 코드를 통합하는 새로운 데이터프레임 생성
ukb_brain_mri_neurodegenerative_grouped = ukb_brain_mri_neurodegenerative.groupby('eid')['icd10'].apply(lambda x: ','.join(sorted(set(x)))).reset_index()

ukb_brain_mri_neurodegenerative_grouped

         eid icd10
0    1016627   G35
1    1021892   G35
2    1045578  G319
3    1239672  G309
4    1264453   G35
..       ...   ...
163  5869746   G35
164  5926851   G35
165  5965153  G318
166  6016880   G20
167  6017122  G938

[168 rows x 2 columns]

In [133]:
# ukb_brain_mri_neurodegenerative_grouped.to_csv('/media/leelabsg-storage1/yein/research/data/csv/ukbb_neurodegenerative_icd10.csv', index=False)

In [128]:
ukb_brain_mri_neurodegenerative_grouped['icd10'].value_counts()

icd10
G35                   44
G20                   33
G319                  15
G309                   9
G938                   9
G939                   8
G35,G379               4
G931                   3
G319,G938              3
G122                   3
G214                   2
G318                   2
G934                   2
G328                   2
G20,G360               1
G20,G318,G934          1
G231                   1
G300,G309              1
G122,G319              1
G310,G319,G935         1
G10                    1
G373                   1
G301                   1
G35,G378               1
G935                   1
G308                   1
G20,G309,G319          1
G35,G373               1
G308,G319              1
G20,G308               1
G318,G35               1
G20,G309               1
G319,G934              1
G20,G308,G309,G318     1
G312                   1
G319,G931              1
G20,G219,G318          1
G35,G934               1
G20,G318               1
G211                   1
G300                   1
G312,G319,G328         1
G379                   1
Name: count, dtype: int64

In [26]:
ukb_icd_bi_2[ukb_icd_bi_2['icd10'].str.contains('F0')]

Empty DataFrame
Columns: [eid, 41271-0.0, icd9, count, column, date, icd10]
Index: []